<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<header>
    {% include 'navbar.html.twig' %}
</header>
{% block body %}{% endblock %}

<a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
    Testing show() method from WildController with a real program s slug.
</a>
<br>
<a href="{{ path('wild_index') }}">
    Testing index() method from WildController to view all programs.
</a>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>